*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  --blue-dark: #1e6f9f;
  --purple-dark: #5e60ce;
  --blue: #4ea8de;
  --purple: #8284fa;

  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  --red-300: #e25858;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 93.75%;
  background-color: var(--gray-100);
}

.main-header {
  background-color: var(--gray-700);
  max-width: 90rem;
  height: 12.5rem;
  display: flex;
  place-content: center;
  position: relative;
}

/* To show display components style before get in prod enviroment */
.pre-component {
  padding: 2rem;
  width: 747px;
  height: 334px;
  border: 1px dashed var(--purple);
  margin-bottom: 2.5rem;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.input-component {
  width: 39.875rem;
  height: 3.375rem;
  border-radius: 4.5px;
  padding: 1rem;
  outline: none;
  border: 1px solid var(--gray-500);
  background-color: var(--gray-500);
  color: var(--gray-300);
  font-size: var(--text-base);
  font-weight: 400;
  position: relative;
  top: -25px;
}

.add-task {
  position: relative;
  top: -25px;
  width: 5.625rem;
  height: 3.375rem;
  outline: none;
  line-height: 6px;
  cursor: pointer;
  background-color: var(--blue-dark);
  border-radius: 8px;
  border: none;
  padding: 1rem;
  color: var(--gray-100);
  font-weight: 700;
  font-size: var(--text-sm);
}

.add-task img {
  margin-bottom: -4.299px;
  padding-left: 0.45rem;
}

.input-component:focus {
  border: 1.5px solid var(--purple-dark);
}

.add-task:hover {
  background-color: var(--blue);
  transition: all ease-in-out 8ms;
}

.remove-task:hover {
  color: var(--red-300);
}
